/* CSS for header component */

@media only screen and (max-width: 700px) {
  :local(.header) {
    position: fixed;
    top: 0;
    width: 100%;

    margin-bottom: 5px;

    background-color: hsl(0, 0%, 20%);
  }

  :local(.header_buttons) {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;

    /* Text settings */
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);

    background-color: hsl(141, 73%, 42%);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
}
