/* CSS for join component */

:local(.join_container) {
	/* Handles layout */
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;

	/* Animation settings */
	-webkit-animation: fadein 0.5s ease; /* Safari, Chrome, Opera */
	-moz-animation: fadein 0.5s ease; /* Firefox */
	-ms-animation: fadein 0.5s ease; /* Internet Explorer */
	-o-animation: fadein 0.5s ease; /* Opera */
	animation: fadein 0.5s ease;
}

:local(.invite_code_container) {
	/* Pushes component from touching the header */
	margin: 10px 0px 10px 0px;
}

:local(.input_container) {
	/* Layout settings */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin: 5px 10% 5% 10%;
}

:local(.input_box) {
	/* Border settings */
	border: none;
	background-color: hsla(0, 0%, 80%, 0.8);

	/* Layout settings */
	padding: 3px 5px 3px 5px;
	margin: 0 5px 0 5px;
	width: 55%;
	border-radius: 5px;
	/* Text settings */
	font-size: 27px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

:local(.input_button) {
	padding: 1px 8px 3px 8px;

	border: 2px solid hsl(0, 0%, 100%);
	border-radius: 5px;
	background-color: hsla(120, 88%, 53%, 0.3);
	height: 40px;
	/* Text settings */
	font-size: 25px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

:local(.input_button:disabled) {
	padding: 1px 8px 3px 8px;

	border: 2px solid hsl(0, 0%, 100%);
	border-radius: 5px;
	background-color: hsla(0, 100%, 50%, 0.527);

	/* Text settings */
	font-size: 25px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

:local(.join_component_text) {
	margin: 0px 0px 0px 0px;
	/* Text settings */
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

:local(.horizontal_lines) {
	width: 15%;
	margin-top: 7px;
	margin-bottom: 7px;
}

:local(.nearby_gigs_container) {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 0px;
}

:local(.gigs_list) {
	margin: 2% 0px 0px 0px;
	display: flex;
	flex-direction: column;

	/* Animation settings */
	-webkit-animation: fadein 0.5s; /* Safari, Chrome, Opera */
	-moz-animation: fadein 0.5s; /* Firefox */
	-ms-animation: fadein 0.5s; /* Internet Explorer */
	-o-animation: fadein 0.5s; /* Opera */
	animation: fadein 0.5s;
}

:local(.gig_container) {
	/* Layout settings */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0px 0px 10px;

	/* Color settings */
	background-color: hsla(0, 0%, 70%, 0.3);
}

:local(.text_container) {
	display: flex;
	flex-direction: column;

	/* Handles oversized gig names */
	min-width: 0;
}

:local(.gig_name_text) {
	/* Handles oversized gig names */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* Margin settings */
	margin: 3px 0px 0px 0px;

	/* Text settings */
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	font-weight: 500;
	color: hsl(0, 0%, 100%);
}

:local(.owner_name_text) {
	/* Handles oversized gig names */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* Margin settings */
	margin: 0px 0px 3px 0px;

	/* Text settings */
	font-size: 15px;
	font-family: "Oxygen", sans-serif;
	font-weight: 100;
	color: hsl(0, 0%, 80%);
}

:local(.join_button) {
	margin: 0px 4px 0px 0px;
	padding: 3px 10px 5px 10px;

	border: 2px solid hsl(0, 0%, 100%);
	border-radius: 5px;
	background-color: transparent;

	/* Text settings */
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: hsl(0, 0%, 100%);
	text-align: center;
}

:local(.error_container) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 10% 0px 10%;

	padding: auto;
}

:local(.error_text) {
	margin: 0px 0px 0px 5px;
	padding: 5% 0px 5% 0px;
	/* Text settings */
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	color: hsl(0, 0%, 100%);
	letter-spacing: 2px;
	text-align: center;

	-webkit-animation: fadein 0.5s ease; /* Safari, Chrome, Opera */
	-moz-animation: fadein 0.5s ease; /* Firefox */
	-ms-animation: fadein 0.5s ease; /* Internet Explorer */
	-o-animation: fadein 0.5s ease; /* Opera */
	animation: fadein 0.5s ease;
}

:local(.placeholder_div) {
	margin: 15px 0 0 0;
	display: flex;
	justify-content: center;
}

:local(.loading_spinner) {
	border: 8px solid hsla(0, 0%, 15%, 0.2);
	border-top: 8px solid #1db954;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome,Opera */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
