/* CSS for join component */

@media only screen and (max-width: 700px) {
	:local(.join_container) {
		/* Handles layout */
		flex-grow: 1;
		height: 100%;
		overflow-y: auto;

		/* Animation settings */
		-webkit-animation: fadein 0.5s ease; /* Safari, Chrome, Opera */
		-moz-animation: fadein 0.5s ease; /* Firefox */
		-ms-animation: fadein 0.5s ease; /* Internet Explorer */
		-o-animation: fadein 0.5s ease; /* Opera */
		animation: fadein 0.5s ease;
	}

	:local(.invite_code_container) {
		/* Pushes component from touching the header */
		margin: 5% 0px 5% 0px;
	}

	:local(.input_container) {
		/* Layout settings */
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	:local(.input_box) {
		/* Border settings */
		border: none;
		background-color: hsla(0, 0%, 80%, 0.8);

		/* Layout settings */
		padding: 3px 5px 3px 5px;
		margin: 10px 30% 10px 30%;

		/* Text settings */
		font-size: 25px;
		font-family: "Oxygen", sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	:local(.input_button) {
		margin: 5px 35% 0px 35%;
		padding: 3px 5px 3px 5px;

		border: 2px solid hsl(0, 0%, 100%);
		border-radius: 5px;
		background-color: hsla(120, 65%, 57%, 0.3);

		/* Text settings */
		font-size: 20px;
		font-family: "Oxygen", sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	:local(.input_button:disabled) {
		margin: 5px 35% 0px 35%;
		padding: 3px 5px 3px 5px;

		border: 2px solid hsl(0, 0%, 100%);
		border-radius: 5px;
		background-color: hsla(0, 84%, 65%, 0.2);

		/* Text settings */
		font-size: 20px;
		font-family: "Oxygen", sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	:local(.join_component_text) {
		margin: 0px 0px 0px 0px;
		/* Text settings */
		font-size: 20px;
		font-family: "Oxygen", sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	:local(.horizontal_lines) {
		width: 40%;
		margin-top: 7px;
		margin-bottom: 7px;
	}

	:local(.nearby_gigs_container) {
		display: flex;
		flex-direction: column;
		margin: 5% 0px 0px 0px;
	}

	:local(.gigs_list) {
		margin: 2% 0px 0px 0px;
		display: flex;
		flex-direction: column;
	}

	:local(.gig_container) {
		/* Layout settings */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0px 0px 10px;

		/* Color settings */
		background-color: hsla(0, 0%, 70%, 0.3);

		/* Animation settings */
		-webkit-animation: fadein 0.5s; /* Safari, Chrome, Opera */
		-moz-animation: fadein 0.5s; /* Firefox */
		-ms-animation: fadein 0.5s; /* Internet Explorer */
		-o-animation: fadein 0.5s; /* Opera */
		animation: fadein 0.5s;
	}

	:local(.text_container) {
		display: flex;
		flex-direction: column;

		/* Handles oversized gig names */
		min-width: 0;
	}

	:local(.gig_name_text) {
		/* Handles oversized gig names */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		/* Margin settings */
		margin: 3px 0px 0px 0px;

		/* Text settings */
		font-size: 20px;
		font-family: "Oxygen", sans-serif;
		font-weight: 500;
		color: hsl(0, 0%, 100%);
	}

	:local(.owner_name_text) {
		/* Handles oversized gig names */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		/* Margin settings */
		margin: 0px 0px 3px 0px;

		/* Text settings */
		font-size: 15px;
		font-family: "Oxygen", sans-serif;
		font-weight: 100;
		color: hsl(0, 0%, 80%);
	}

	:local(.join_button) {
		margin: 0px 4px 0px 0px;
		padding: 3px 10px 3px 10px;

		border: 2px solid hsl(0, 0%, 100%);
		border-radius: 5px;
		background-color: transparent;

		/* Text settings */
		font-size: 15px;
		font-family: "Oxygen", sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	:local(.error_container) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px 10% 0px 10%;

		padding: auto;

		-webkit-animation: fadein 0.5s ease; /* Safari, Chrome, Opera */
		-moz-animation: fadein 0.5s ease; /* Firefox */
		-ms-animation: fadein 0.5s ease; /* Internet Explorer */
		-o-animation: fadein 0.5s ease; /* Opera */
		animation: fadein 0.5s ease;
	}

	:local(.error_text) {
		margin: 0px 0px 0px 5px;
		padding: 5% 0px 5% 0px;
		/* Text settings */
		font-size: 15px;
		font-family: "Oxygen", sans-serif;
		color: hsl(0, 0%, 100%);
		letter-spacing: 2px;
		text-align: center;
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Firefox */
	@-moz-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Safari, Chrome,Opera */
	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Opera */
	@-o-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
