/* CSS for the navbar component */

@media only screen and (max-width: 700px) {
  :local(.bar_div) {
    /* This makes the navbar persistant at the bottom above any other content */
    position: fixed;
    bottom: 0;
    width: 100%;

    /* This is making each button equidistant from one another  */
    display: flex;
    justify-content: space-between;

    /* This is setting the colour of the bar */
    background-color: hsl(0, 0%, 20%);

    /* This is setting the margins of the bar */
  }

  :local(.nav_buttons) {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;

    /* Text settings */
    font-size: 20px;
    text-align: center;
    color: hsl(0, 0%, 70%);

    background-color: transparent;
    border: none;
  }
}
